<h1><%= @poll.title %>'s Questions</h1>
<ul>
  <% @questions.each do |question| %>
    <li><%= question.content %></li>
  <% end %>
</ul>
<%= link_to "Add Questions", new_poll_question_path(@poll) %>
