<h1><%= @poll.title %></h1>
<p><%= link_to "Edit Poll Title", edit_poll_path(@poll) %></p>
<ul>
<% @poll.questions.each do |question| %>
  <li><%= question.content %></li>
<% end %>
</ul>
<br><br>
<%= link_to "Add Questions", new_poll_question_path(@poll) %>
