  <div class="row">
    <div class="col-xs-9">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Eum dicta accusantium, expedita et non excepturi tempore mollitia
        enim fugiat. Quia, sed quaerat. Aliquam perspiciatis dolorum sit
        voluptas porro quae dolores?
      </p>
    <%= button_to "Sign Up", new_user_registration_path, :method => :get, :class => "btn btn-primary btn-large" %><br><br>
    <%= button_to "Sign In", new_user_session_path, :method => :get, :class => "btn btn-primary btn-large" %><br><br>
    </div>
</div>
