  <div class="row">
    <div class="col-xs-9">
      <p>Poll Machine is a simple way to create polls and get
        feedback from your friends! First, sign up for an account.
        Then you can create polls to send out for feedback. Users can only vote once,
        so you know the results are honest.
      </p>
    <h4>New here?</h4><%= button_to "Sign Up", new_user_registration_path, :method => :get, :class => "btn btn-primary btn-large" %><br>
    <h4>Feeling Lazy?</h4><%= button_to "Sign In With Twitter", user_twitter_omniauth_authorize_path, :class => "btn btn-primary btn-large" %><br>
    <h4>Already Registered?</h4><%= button_to "Sign In", new_user_session_path, :method => :get, :class => "btn btn-primary btn-large" %><br>

    </div>
</div>
